<% content_for :title, "Purchase - The Paigetopain Stock Exchange" %>
<div class="row">
    <div  style="margin-top:10px;" class="col-lg-12">
<h1 class="page-header">New Purchase</h1>
</div>
</div>

<div class="row">
    <div class="col-lg-12">
<%= render 'form' %>
</div>
</div>
<%= link_to 'Back', root_path %>
